.footer {
  background-color: #1e272e;
  color: map-get($light, "background__hover");
  @include min-tablet {
    padding-bottom: 5rem;
  }
  &__container {
    padding: 2rem 0;
  }
  &__contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, 3rem);
    gap: 1rem;
    place-content: center;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;

    // &:nth-child(n) {
    //   border-right: 1px solid red;
    // }

    // &:last-child{
    //   border-right: none;
    // }
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;

    li:hover {
      text-decoration: underline;
    }
  }
}
