.header {
  width: 100%;
  position: sticky;
  top: 0;
  min-height: map-get($global, "min__height--header");
  background-color: map-get($light, "background");
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  // z-index: 1;

  @include less_mobile {
    .logo {
      font-size: 1.2rem;
      &__title {
        letter-spacing: 0.05rem;
      }
    }
    // .options {
    //   @include display-flex(flex-end, 0.7rem);
    //   &__item {
    //     padding: map-get($global, "min__height--header") 0;
    //     gap: 0.3rem;
    //   }
    // }
  }

  @include display-flex(space-between, 0);

  @include tablet {
    .icon {
      &__menu {
        display: none;
      }
    }

    .nav {
      position: static;
      @include display-flex(center, 2rem);
      flex-direction: row;
      min-height: map-get($global, "min__height--header");
      &__item {
        &:hover {
          font-size: inherit;
          font-weight: inherit;
        }
        &--logo,
        &--close {
          display: none;
        }
      }
    }
  }

  @include desktop {
    .nav {
      @include display-flex(center, 4.5rem);
      font-size: 1.1rem;
    }
  }
}
.logo {
  // @include display-flex(flex-start, 0rem);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  gap: 0.3rem;

  @include tablet {
    width: auto;
    justify-content: flex-start;
  }

  &__title {
    padding: 0.2rem 0;
    letter-spacing: 0.08rem;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.nav {
  position: fixed;
  background-color: map-get($light, "background");
  width: 100%;
  min-height: 100vh;
  @include display-flex(center, 3rem);
  flex-direction: column;
  top: 0;
  left: -100%;
  transition: map-get($global, "transition__linear");

  &__item {
    color: #18272f;
    position: relative;
    text-decoration: none;
    line-height: 2rem;
    border-bottom: 0.15rem solid transparent;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.15rem;
      border-radius: 4px;
      background-color: #fd3e28;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform map-get($global, "transition__linear");
    }

    &:hover {
      font-size: 1.2rem;
      font-weight: bold;
      transition: map-get($global, "transition__linear") / 2;
      &::before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }

    &--select {
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.15rem;
        border-radius: 4px;
        background-color: #fd3e28;
        bottom: 0;
        left: 0;
        transform-origin: left;
        transform: scaleX(1);
        transition: transform map-get($global, "transition__linear");
      }
    }

    &--close {
      position: absolute;
      top: 3rem;
      right: 1rem;
      padding: 0.7rem 1rem;
      border-radius: 0.3rem;
      cursor: pointer;

      &:hover {
        background-color: map-get($light, "color__border");
        transition: map-get($global, "transition__linear");
      }
    }

    &--logo {
      position: absolute;
      top: 3rem;
      left: 1rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      font-size: 1.5rem;
      padding: 0.7rem 0;
    }
  }

  &__toggle {
    left: 0;
  }
}
.options {
  // @include display-flex(flex-end, 0);
  // background-color: red;
  background-color: map-get($light, "background");
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  place-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  @include tablet {
    position: inherit;
    width: auto;
    @include display-flex(flex-end, 0);
    box-shadow: none;
  }

  &__item {
    cursor: pointer;
    // padding: map-get($global, "min__height--header") 1rem;
    display: grid;
    place-content: center;
    gap: 0.3rem;
    flex-direction: column;
    grid-auto-columns: max-content;
    font-size: 0.9rem;
    width: 100%;
    padding: map-get($global, "min__height--header") / 4 1rem;

    &:hover {
      background: map-get($light, "background__hover");
    }
  }
}
.section {
  &__background {
    &--dark {
      width: 100%;
      height: 40px;
      background: map-get($dark, "background");
      color: #8e9193;
      text-align: center;
    }
  }
}
