.title {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 120%;
  margin: auto 0;

  &__section {
    margin: 0 auto;
  }

  &__additional {
    font-size: 1.3rem;
  }

  &__subscribe {
    font-size: 2rem;

    @include tablet {
      font-size: 2.3rem;
    }
  }
}

.description {
  &__gray {
    color: gray;
  }
  &__red {
    color: #ee0f0f; //red
    font-weight: bold;
  }
  &__bold {
    font-weight: bold;
  }
  &__line {
    &--through {
      text-decoration-line: line-through;
    }
  }
}

.subtitle {
  font-size: 1.2rem;
}

.input {
}

.icon {
  cursor: pointer;
  height: 1rem;
  box-sizing: border-box;

  &__cart{
    
  }

  &__contact {
    background-color: rgba(128, 128, 128, 0.6);
    padding: 0.8rem;
    height: 3rem;
    border-radius: 50%;
  }

  &__close {
    &--feedback {
      width: auto;
    }
  }

  &__menu {
    width: auto;
    height: 100%;
    font-size: x-large;
    padding: 0.5rem;

    &:hover {
      background: map-get($light, "background__hover");
    }
  }

  &__additional {
    height: 2.5rem;
  }

  &__scroll {
    &--top {
      position: fixed;
      bottom: 7rem;
      right: 1rem;
      background-color: #d4d4d4;
      color: #32393e;
      width: 3rem;
      height: 3rem;
      display: grid;
      place-content: center;
      border-radius: 50%;
      display: none;

      @include tablet {
        right: 2.5rem;
        bottom: 2.5rem;
      }

      @include desktop {
        right: 4rem;
      }
    }
    &--visible {
      display: block;
    }
  }
}

.button {
  padding: 0.6rem 1.3rem;
  border-radius: 0.2rem;
  cursor: pointer;
  pointer-events: all;

  @include less_mobile {
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
  }

  &__form {
    padding: 0.7rem 1.3rem;
  }

  &__primary {
    background-color: map-get($light, "background__hover");
  }
  &__secondary {
    background-color: red;
    color: #fff;
  }
  &__ghost {
    background-color: white;
    outline: 1px solid gray;
  }
}

.padding {
  &__section {
    padding: map-get($global, "padding__mobile");

    @include tablet {
      padding: map-get($global, "padding__tablet");
    }

    @include desktop {
      padding: map-get($global, "padding__desktop");
    }
  }
}

.section {
  display: grid;
  gap: 2rem;

  &__grid {
    &--gap {
      display: grid;
      gap: 3rem;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.line {
  &__separator {
    border-top: 0.1rem solid #313940;
    height: auto;
    width: 50%;
    padding: 0;
    margin: 1.5rem auto;

    &--secondary{
      width: 100%;
      border-top: 0.1rem solid #d3d3d3;
    }

    &--accordion {
      width: 100%;
      margin: 0.5rem auto;
      border-top: 0.1rem solid #d3d3d3;
    }
  }
}

.position {
  &__left {
    display: grid;
    place-content: center;
    text-align: center;
  }
}

.text {
  &__transform {
    &--uppercase {
      text-transform: uppercase;
    }
  }
}

.image {
  border-radius: 0.3rem;
}

.text{
  &__ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}