.message {
  &__feedback {
    position: fixed;
    top: 6rem;
    right: 1rem;
    min-width: 17rem;
    max-width: 20rem;
    background: map-get($dark, "background");
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    display: none;
    transition: 0.3s ease;
    animation: feedback-in-right 0.5s;

    @include tablet {
      right: 2.5rem;
      min-width: 20rem;
      max-width: 25rem;
      padding: 1.3rem;
    }

    @include desktop {
      right: 4rem;
    }

    &--heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--active {
      display: grid;
      gap: 0.7rem;
    }
  }
}
