.message {
  &__feedback {
    position: absolute;
    top: 6rem;
    right: 1rem;
    min-width: 20rem;
    background: map-get($dark, "background");
    color: #fff;
    padding: 0.6rem 1rem;
    border-radius: 5px;

    @include tablet {
      right: 2.5rem;
    }

    @include desktop {
      right: 4rem;
    }

    &--heading{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    // margin: 6rem 1rem 0 0;

    // min-width: 20rem;
    // height: max-content;
    // padding: 0.6rem 1rem;
    // display: none;
    // // position: relative;

    &--active {
      display: grid;
      gap: 0.5rem;
    }
  }
}

.modal {
  position: absolute;
  content: "";
  top: -40px;
  left: 0;
  width: 100%;
  height: calc(100vh + 40px);
  color: #fff;
  padding: 40px 0;

  &__feedback {
    background: none;
    display: flex;
    justify-content: flex-end;
  }

  &__form {
    background: rgba(0, 0, 0, 0.7);
  }
}
