$breakpoint__tablet: 1000px; //1000px
$breakpoint__mobile: 780px;
$breakpoint__desktop: 1300px;
$padding: 1.5rem;
$color-border: rgb(212, 212, 212);
$border-radius: 10px;
$gap: 1rem;

$padding-section-mobile: 1rem;
$padding-section-tablet: 1rem 3rem;
$padding-section-desktop: 1rem 5rem;